Márgenes automaticos

Ya vimos como centrar un texto dentro de una caja (text-aling: center;), ahora vamos 
a ver como centrar una caja dentro de otra caja

Para hacer esto lo que podemos hacer es setear los parametros del margen izquierdo y 
el margen derecho en automaticos, Ej:

div {
	margin-left: auto;
	margin-right: auto;
}

Si queremos que la caja se alinie a la derecha o a la izquierda, no que este centrada, lo que debemos
hacer es setear en automatico uno solo de los margenes. Ej:

Caja centrada a la izquierda:			caja centrada a la derecha:
	
caja {						caja {
	margin-right: auto;				margin-left:auto;
}						}

