background-position

Al elegir como fondo de una etiqueta una imagen, y particularme hacer que esa imagen
no se repita, el navegador por default nos posiciona la imagen en la esquina superior
derecha.
Para cambiar esto se usa la propiedad background-position.

Valores:

Los valores pueden ser top, bottom, lef, right o center. Y ademas pueden combinarse,
es decir que si quiero ubicar la imagen en la esquina superior izquierda puedo poner:

background-position: top left;

Y asi todas las combinaciones posibles. Si pongo center solo, la imagen va a estar
centrada con respecto a los dos ejes.
Ademas podemos ubicar la imagen con coordenadas, el primer nro es la coordenada
en X y el segundo nro es la coordenada en Y. Ej:

background-position: 10px 20px;

Sabiendo lo de las coordenadas podemos combinar las palabras y los nros, por Ej:
Si quiero que la imagen este centrada con respecto al eje x, y verticalmente quiero
que este a 30px de distancia del margen superior:

background-position: center 30px;