body {
	font-family: Helvetica;
	margin-left: 15px;
	background-color: #1e1c1c;
}
div#contenido {
	margin-left: 15px;
	margin-right: 200px;
	margin-bottom: 80px;0
}
#sangria {
	text-indent: 40px;
}
article {
	padding-top: 0px; 
	padding-bottom: 0px;
	margin-bottom: 18px; 
	margin-top: 18px;
}
article p {
	margin-left: 40px;
	color: #ff4444;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
	font-weight: bold;
	line-height: 18px;
}
a {
	text-decoration: none;
	color: #2377ff;
	padding: 2px;
}
a#actual {
	text-decoration: underline;
	font-weight: bold;
}
ol {
	line-height: 25px;
}
footer {
	text-align: center;
}
div#contenido>p {
	color: #37d6e5;
	font-size: 18px;
	line-height: 25px;
}
footer p {
	color: #3f3f3f;
}
ul {
	color: #37d6e5;
}
ol {
	color: #37d6e5;
}
h2 {
	text-transform: uppercase;
}
strong {
	color: #ffffff;
}