body {
	font-family: Helvetica;
	margin-left: 15px;
	background-color: #202621;
}
div#contenido {
	margin-left: 15px;
	margin-right: 200px;
	margin-bottom: 80px;
}
#sangria {
	text-indent: 40px;
}
article {
	margin-left: 60px;
	line-height: 6px;
	display: inline;
}
a {
	text-decoration: none;
	color: #2377ff;
	padding: 2px;
}
a#actual {
	text-decoration: underline;
	font-weight: bold;
}
ol {
	line-height: 25px;
}
footer {
	text-align: center;
}
p {
	color: #0eb9c9;
}